{{! <!-- ALL projects -->

<!--getProjectsSuccess -->
<!--showProjectsHtml -->
<!-- const showProjectsHtml = showProjectsTemplate({ projects: data.projects })
$('.content').html('').append(showProjectsHtml) --> }}

{{#each projects as |project|}}

  <h1 data-id="{{project.id}}" class="my-project">
  </h1>
  <ul data-id="{{project.id}}">
      {{#if project.project_title}}
        {{project.project_title}}
      {{else}}
        No title information.
      {{/if}}
            <div></div>

  Difficulty:
      {{#if project.difficulty_id}}
        {{project.difficulty_id}}
      {{else}}
        It can't be that difficult!
      {{/if}}
      <div></div>

ID:
      {{#if project.id}}
        {{project.id}}
      {{else}}
        Can't find Project ID
      {{/if}}
  </ul>

{{/each}}
