{{! MY projects -->

<!-- getMyProjectsSuccess -->
<!-- showProjectsHtml -->
<!--   const showMyProjectsHtml = myProjectsTemplate({ projects: data.user.projects })
  $('.content').html('').append(showMyProjectsHtml) }}

{{#each projects as |project|}}

  <h1 data-id="{{project.id}}" class="my-project">
  </h1>
  <ul data-id="{{project.id}}">
      Project Title:
        {{#if project.project_title}}
          {{project.project_title}}
        {{else}}
          No title information.
        {{/if}}
              <div></div>

      Project ID:
            {{#if project.id}}
              {{project.id}}
            {{else}}
              Can't find Project ID
            {{/if}}
                  <div></div>

      Difficulty:
          {{#if project.difficulty.rating}}
            {{project.difficulty.rating}}
          {{else}}
            No rating.
          {{/if}}

<div>
    <button class="remove-button" type="submit" data-id="{{project.id}}">Remove</button>
</div>
  </ul>

{{/each}}
