
{{#each projects as |project|}}

  <h1 data-id="{{project.id}}" class="my-project">
  </h1>
  <ul data-id="{{project.id}}">
      {{#if project.project_title}}
        {{project.project_title}}
      {{else}}
        No project information. Try adding your first project
      {{/if}}
            <div></div>

  Difficulty:
      {{#if project.difficulty}}
        {{project.difficulty}}
      {{else}}
        It can't be that hard!
      {{/if}}
      <div></div>

ID:
      {{#if project.id}}
        {{project.id}}
      {{else}}
        It can't be that hard!
      {{/if}}
<div>
    <button class="remove-button" type="submit" data-id="{{project.id}}">Remove</button>
</div>
  </ul>

{{/each}}
